body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkviolet;
}

header{
    text-align: center;
    color: #ffffff;
}

section{
    background-color: white;
    padding: 15px;
    width: 500px;
    margin: auto;
}

footer{
    font-style: italic;
    font-size: 1.4em;
    color: white;
    text-align: center;
    margin-top: 20px;
}